body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(198, 215, 253);
}
/*Styles the footer text*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*Centers the card to the middle of the webpage*/
#container-card {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
/*Styles the card*/
#main-body {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  width: 200px;
  padding: 15px;
}
/*Gives flex attributes to the insides of the card*/
#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

/*Styles the qr image*/
#card-img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

/*Centers the paragraphs inside the card*/
#card-paragraph {
  text-align: center;
  margin: 5px;
}

/*Styles the first line of text in the card*/
#first-text-line {
  color: hsl(218, 44%, 22%);
  font-weight: bold;
  font-size: large;
}
/*Styles rest of the text in the card*/
#rest-text {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
